.head {
  text-align: left;
  font-family: sans-serif;
  position: relative;
  bottom: 10px;
}

body {
  background-image: url('../images/backg.jpg');
  background-size: 1500px;
}

.header {
  color: black;
  position: relative;
  background-color: Azure;
  padding: 3%;
  margin: 2px;
  border: 1px;
  width: 60%;
  transform-style: preserve-3d;
}

.important {
  font-size: 18px;
  font-style: italic;
  font-weight: bold;
}

p . header {
  color: black;
  position: relative;
  top: 30px;
}

img {
  position: absolute;
  float: right;
  top: 10px;
  left: 400px;
  border-radius: 50%;
}

.a {
  color: grey;
  position: relative;
  top: 10px;
}

.list {
  position: relative;
  top: 25px;
}

.main {
  color: white;
  background-color: black;
  padding: 3%;
  border: 1px solid black;
  width: 60%;
}
